html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

#comingsoon {
  width: 100vw;
  height: 100vh;
  background-color: rgb(220,220,220);
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

}

.consturction {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.oystr {
  color: blue;
}